# Python
__pycache__/
*.py[cod]
*.egg-info/

# Test & tooling cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
venv/
.venv/
env/

# Secrets
.env

# Jupyter
.ipynb_checkpoints/

# OS
Thumbs.db
desktop.ini
.DS_Store
